[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
requests-html = "*"
selenium = "*"
webdriver-manager = "*"
pytesseract = "*"
opencv-python = "*"
pyenchant = "*"
torch = "*"
Pillow = "*"
numpy = "*"
requests_html = "*"
extcolors = "*"

[dev-packages]

[requires]
python_version = "3.8"
